.tooltip-sm .ant-tooltip-inner {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 8px;
  background-color: #464a51;
}

.tooltip-sm .ant-tooltip-arrow::before {
  background-color: #464a51;
}

.ant-menu-horizontal {
  line-height: 64px !important;
}

.ant-input-search {
  transition: all 0.25s ease-in-out !important;
}

.ant-input-search input {
  padding-right: 82px !important;
}

.ant-layout-header {
  line-height: inherit !important;
}

.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #fafafa !important;
}

.ant-table-pagination {
  padding-right: 16px !important;
}

.link-normal {
  color: inherit !important;
}

.link-muted {
  color: gray !important;
}

a:hover {
  text-decoration: underline !important;
}
