.tooltip-sm .ant-tooltip-inner {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 8px;
  background-color: #464a51;
}

.tooltip-sm .ant-tooltip-arrow::before {
  background-color: #464a51;
}

.ant-menu-horizontal {
  line-height: 64px !important;
}

.ant-layout-header {
  line-height: inherit !important;
}

.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #fafafa !important;
}

/* .ant-descriptions-row th {
  min-width: 200px;
}

.break-word {
  word-wrap: break-word;
} */

.ant-table-pagination {
  padding-right: 16px !important;
}

.color-normal {
  color: inherit !important;
}

.color-muted {
  color: gray !important;
}

a:hover {
  text-decoration: underline !important;
}

.ant-table-footer {
  background: #fff !important;
  text-align: center;
}

.ant-table-placeholder {
  border: none !important;
}

.ant-empty-normal {
  margin: 0 !important;
}

.ant-descriptions-item-content {
  width: 90%;
}

.ant-descriptions-item-content .ant-skeleton-title {
  margin: 0 !important;
}

.ant-descriptions-item-content .ant-skeleton + .ant-skeleton {
  margin-top: 10px !important;
}

.container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.part1,
.part2 {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.part2 {
  direction: rtl;
  margin-left: -30px;
}

.end {
  flex-grow: 1;
}

.mid {
  width: 30px;
  flex-shrink: 10;
}

.isloading-skeleton-width {
  width: 50% !important;
}

.ant-skeleton-title {
  margin-top: 11px !important;
  margin-bottom: 10px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 100%;
  max-width: 0; */
}

.block-truncated {
  position: absolute;
  width: 90%;
}

.break-word {
  word-break: break-word;
}

@media (min-width: 768px) {
  .ant-timeline .right .ant-timeline-item-content {
    left: inherit !important;
    width: calc(50% - 12px) !important;
    margin: 0 !important;
    text-align: right !important;
  }

  .ant-timeline .left .ant-timeline-item-content {
    left: calc(50% - 4px) !important;
    width: calc(50% - 14px) !important;
    margin: 0 0 0 18px !important;
    text-align: left !important;
  }

  .ant-timeline .first-row {
    display: flex;
    align-items: center;
  }

  .ant-timeline .left .first-row {
    justify-content: flex-start;
  }

  .ant-timeline .right .first-row {
    justify-content: flex-end;
  }

  .ant-timeline .left .timeline-tag {
    order: 1;
  }

  .ant-timeline .right .timeline-tag {
    order: 3;
  }

  .ant-timeline .left .timeline-timeago {
    order: 3;
  }

  .ant-timeline .right .timeline-timeago {
    order: 1;
  }

  .ant-timeline .timeline-amount {
    order: 2;
  }
}

.ant-timeline .timeline-tag {
  text-transform: capitalize;
  margin: 0 !important;
}

.ant-timeline .timeline-amount {
  margin: 0 6px;
}

.ant-timeline .timeline-timeago {
  font-size: 12px;
  line-height: 21px;
}

.ant-timeline {
  padding: 10px 0;
}

.ant-timeline-item-last {
  padding-bottom: 0 !important;
}

.fadein {
  animation: fadein 0.25s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @TODO remove this for flex */
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
