.theme-light *,
.theme-dark * {
  transition: background-color 0s !important;
}

body .theme-dark {
  color: #e1e1e1;
}

.theme-dark .color-important {
  color: #fff !important;
}

.theme-light .ant-layout-header {
  background: #fff;
}

.theme-light .app-sub-header {
  background: #fff;
  border-top: solid 1px #f0f0f0;
}

.theme-dark .app-sub-header {
  color: #e1e1e1;
  background: #1e1e1e;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

.theme-dark .ant-layout-header {
  background: #121212;
}

.theme-dark .detail-layout .ant-row + .ant-row,
.theme-dark.detail-layout .ant-row + .ant-row {
  border-color: #2f2f2f;
}

.theme-dark .ant-input-suffix svg {
  color: #e1e1e1;
}

.theme-dark .ant-input-search {
  background-color: transparent !important;
  border-color: #1e1e1e;
}

.theme-dark
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgba(255, 255, 255, 0.08);
}
.theme-dark
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 600;
  background-color: #111b26;
}
.theme-dark
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #177ddc;
}
.theme-dark .ant-select-item-option-disabled {
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.theme-dark .ant-input {
  color: #e1e1e1;
}

.theme-dark.ant-layout {
  background-color: #121212;
}

.theme-dark .ant-card {
  background: #1e1e1e;
}

.theme-dark .ant-statistic-title {
  color: #a5a5a5;
}

.theme-dark .ant-statistic-content {
  color: #e1e1e1;
}

.theme-dark .color-normal {
  color: #e1e1e1 !important;
}

.theme-dark .ant-layout-footer {
  background: #121212;
  color: #e1e1e1;
}

.theme-dark .ant-timeline-item-tail {
  border-color: gray !important;
}

.theme-dark .ant-skeleton.ant-skeleton-active {
  opacity: 0.25;
}

.theme-dark .ant-table thead > tr > th {
  color: #e1e1e1;
  background: #1e1e1e !important;
  border-color: #1e1e1e;
}

.theme-dark .ant-table .ant-table-cell {
  color: #e1e1e1;
  background: #1e1e1e !important;
  border-color: #1e1e1e;
}

.theme-dark .ant-empty-description {
  color: gray;
}

.theme-dark .ant-empty-img-default-ellipse {
  fill-opacity: 0.08;
  fill: #fff;
}
.theme-dark .ant-empty-img-default-path-1 {
  fill: #262626;
}
.theme-dark .ant-empty-img-default-path-2 {
  fill: url(#linearGradient-1);
}
.theme-dark .ant-empty-img-default-path-3 {
  fill: #595959;
}
.theme-dark .ant-empty-img-default-path-4 {
  fill: #434343;
}
.theme-dark .ant-empty-img-default-path-5 {
  fill: #595959;
}
.theme-dark .ant-empty-img-default-g {
  fill: #434343;
}
.theme-dark .ant-empty-img-simple-ellipse {
  fill: #fff;
  fill-opacity: 0.08;
}
.theme-dark .ant-empty-img-simple-g {
  stroke: #434343;
}
.theme-dark .ant-empty-img-simple-path {
  fill: #262626;
  stroke: #434343;
}

.theme-dark .transaction-card .ant-row:not(:last-child) {
  border-color: #2f2f2f;
}

.theme-dark .detail-layout .ant-row .ant-col .default-color {
  color: #fff;
}

.theme-dark .ant-tag.tag-send,
.theme-dark .ant-tag.tag-offline {
  color: #fff;
  border-color: #e04576;
  background-color: #e04576 !important;
}

.theme-dark .bottom-gradient {
  background: linear-gradient(transparent, #1e1e1e);
}

.theme-dark .detail-layout .divider {
  border-color: #2f2f2f;
}

.theme-dark .ant-btn.ant-btn-background-ghost {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.theme-dark .ant-btn.ant-btn-background-ghost:hover,
.theme-dark .ant-btn.ant-btn-background-ghost:focus,
.theme-dark .ant-btn.ant-btn-background-ghost:active,
.theme-dark .ant-btn.ant-btn-background-ghost.active {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
